<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.battery.core.mapper.ContrallerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.battery.core.entity.Contraller">
        <id column="ID" property="ID" />
        <result column="ContrallerName" property="ContrallerName" />
        <result column="CustomerID" property="CustomerID" />
        <result column="QHDM" property="QHDM" />
        <result column="PosX" property="PosX" />
        <result column="PosY" property="PosY" />
    </resultMap>

</mapper>
