<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.battery.core.mapper.GroupBatteryHisArryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.battery.core.entity.GroupBatteryHisArry">
        <id column="ID" property="ID" />
        <result column="GroupBatteryHisID" property="GroupBatteryHisID" />
        <result column="Indx" property="Indx" />
        <result column="Tem" property="Tem" />
        <result column="Vol" property="Vol" />
        <result column="SOC" property="SOC" />
    </resultMap>

</mapper>
