<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.battery.core.mapper.GroupBatteryHisDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.battery.core.entity.GroupBatteryHis">
        <id column="ID" property="ID" />
        <result column="GroupBatteryID" property="GroupBatteryID" />
        <result column="runState" property="runState" />
        <result column="groCurrent" property="groCurrent" />
        <result column="groVoltage" property="groVoltage" />
        <result column="BalanceDegree" property="BalanceDegree" />
        <result column="DataTime" property="DataTime" />
        <result column="DefVoltage" property="DefVoltage" />
    </resultMap>

    <select id="getGroupBatteryHistByGroupBatteryID" parameterType="int"
            resultType="com.example.battery.core.entity.GroupBatteryHis">
        select *
        from
            GroupBatteryHis as G
        where
            G.GroupBatteryID = #{GroupBatteryID}
    </select>

</mapper>
