<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.battery.core.mapper.GroupBatteryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.battery.core.entity.GroupBattery">
        <id column="ID" property="ID" />
        <result column="ContrallerID" property="ContrallerID" />
        <result column="AliName" property="AliName" />
        <result column="devID" property="devID" />
        <result column="useDate" property="useDate" />
        <result column="proDate" property="proDate" />
        <result column="batModel" property="batModel" />
        <result column="batStandard" property="batStandard" />
        <result column="facID" property="facID" />
        <result column="groBatteryQuantity" property="groBatteryQuantity" />
        <result column="runState" property="runState" />
        <result column="groCurrent" property="groCurrent" />
        <result column="groVoltage" property="groVoltage" />
        <result column="BalanceDegree" property="BalanceDegree" />
        <result column="IMSI" property="IMSI" />
        <result column="DataTime" property="DataTime" />
        <result column="DefVoltage" property="DefVoltage" />
        <result column="Tem0" property="Tem0" />
        <result column="Vol0" property="Vol0" />
        <result column="SOC0" property="SOC0" />
        <result column="Tem1" property="Tem1" />
        <result column="Vol1" property="Vol1" />
        <result column="SOC1" property="SOC1" />
        <result column="Tem2" property="Tem2" />
        <result column="Vol2" property="Vol2" />
        <result column="SOC2" property="SOC2" />
        <result column="Tem3" property="Tem3" />
        <result column="Vol3" property="Vol3" />
        <result column="SOC3" property="SOC3" />
        <result column="Tem4" property="Tem4" />
        <result column="Vol4" property="Vol4" />
        <result column="SOC4" property="SOC4" />
        <result column="Tem5" property="Tem5" />
        <result column="Vol5" property="Vol5" />
        <result column="SOC5" property="SOC5" />
        <result column="Tem6" property="Tem6" />
        <result column="Vol6" property="Vol6" />
        <result column="SOC6" property="SOC6" />
        <result column="Tem7" property="Tem7" />
        <result column="Vol7" property="Vol7" />
        <result column="SOC7" property="SOC7" />
        <result column="Tem8" property="Tem8" />
        <result column="Vol8" property="Vol8" />
        <result column="SOC8" property="SOC8" />
        <result column="Tem9" property="Tem9" />
        <result column="Vol9" property="Vol9" />
        <result column="SOC9" property="SOC9" />
        <result column="Tem10" property="Tem10" />
        <result column="Vol10" property="Vol10" />
        <result column="SOC10" property="SOC10" />
        <result column="Tem11" property="Tem11" />
        <result column="Vol11" property="Vol11" />
        <result column="SOC11" property="SOC11" />
        <result column="Tem12" property="Tem12" />
        <result column="Vol12" property="Vol12" />
        <result column="SOC12" property="SOC12" />
        <result column="Tem13" property="Tem13" />
        <result column="Vol13" property="Vol13" />
        <result column="SOC13" property="SOC13" />
        <result column="Tem14" property="Tem14" />
        <result column="Vol14" property="Vol14" />
        <result column="SOC14" property="SOC14" />
        <result column="Tem15" property="Tem15" />
        <result column="Vol15" property="Vol15" />
        <result column="SOC15" property="SOC15" />
        <result column="Tem16" property="Tem16" />
        <result column="Vol16" property="Vol16" />
        <result column="SOC16" property="SOC16" />
        <result column="Tem17" property="Tem17" />
        <result column="Vol17" property="Vol17" />
        <result column="SOC17" property="SOC17" />
        <result column="Tem18" property="Tem18" />
        <result column="Vol18" property="Vol18" />
        <result column="SOC18" property="SOC18" />
        <result column="Tem19" property="Tem19" />
        <result column="Vol19" property="Vol19" />
        <result column="SOC19" property="SOC19" />
        <result column="Tem20" property="Tem20" />
        <result column="Vol20" property="Vol20" />
        <result column="SOC20" property="SOC20" />
        <result column="Tem21" property="Tem21" />
        <result column="Vol21" property="Vol21" />
        <result column="SOC21" property="SOC21" />
        <result column="Tem22" property="Tem22" />
        <result column="Vol22" property="Vol22" />
        <result column="SOC22" property="SOC22" />
        <result column="Tem23" property="Tem23" />
        <result column="Vol23" property="Vol23" />
        <result column="SOC23" property="SOC23" />
        <result column="Tem24" property="Tem24" />
        <result column="Vol24" property="Vol24" />
        <result column="SOC24" property="SOC24" />
        <result column="Tem25" property="Tem25" />
        <result column="Vol25" property="Vol25" />
        <result column="SOC25" property="SOC25" />
        <result column="Tem26" property="Tem26" />
        <result column="Vol26" property="Vol26" />
        <result column="SOC26" property="SOC26" />
        <result column="Tem27" property="Tem27" />
        <result column="Vol27" property="Vol27" />
        <result column="SOC27" property="SOC27" />
        <result column="Tem28" property="Tem28" />
        <result column="Vol28" property="Vol28" />
        <result column="SOC28" property="SOC28" />
        <result column="Tem29" property="Tem29" />
        <result column="Vol29" property="Vol29" />
        <result column="SOC29" property="SOC29" />
        <result column="Tem30" property="Tem30" />
        <result column="Vol30" property="Vol30" />
        <result column="SOC30" property="SOC30" />
        <result column="Tem31" property="Tem31" />
        <result column="Vol31" property="Vol31" />
        <result column="SOC31" property="SOC31" />
        <result column="Tem32" property="Tem32" />
        <result column="Vol32" property="Vol32" />
        <result column="SOC32" property="SOC32" />
        <result column="Tem33" property="Tem33" />
        <result column="Vol33" property="Vol33" />
        <result column="SOC33" property="SOC33" />
        <result column="Tem34" property="Tem34" />
        <result column="Vol34" property="Vol34" />
        <result column="SOC34" property="SOC34" />
        <result column="Tem35" property="Tem35" />
        <result column="Vol35" property="Vol35" />
        <result column="SOC35" property="SOC35" />
        <result column="Tem36" property="Tem36" />
        <result column="Vol36" property="Vol36" />
        <result column="SOC36" property="SOC36" />
        <result column="Tem37" property="Tem37" />
        <result column="Vol37" property="Vol37" />
        <result column="SOC37" property="SOC37" />
        <result column="Tem38" property="Tem38" />
        <result column="Vol38" property="Vol38" />
        <result column="SOC38" property="SOC38" />
        <result column="Tem39" property="Tem39" />
        <result column="Vol39" property="Vol39" />
        <result column="SOC39" property="SOC39" />
        <result column="Tem40" property="Tem40" />
        <result column="Vol40" property="Vol40" />
        <result column="SOC40" property="SOC40" />
        <result column="Tem41" property="Tem41" />
        <result column="Vol41" property="Vol41" />
        <result column="SOC41" property="SOC41" />
        <result column="Tem42" property="Tem42" />
        <result column="Vol42" property="Vol42" />
        <result column="SOC42" property="SOC42" />
        <result column="Tem43" property="Tem43" />
        <result column="Vol43" property="Vol43" />
        <result column="SOC43" property="SOC43" />
        <result column="Tem44" property="Tem44" />
        <result column="Vol44" property="Vol44" />
        <result column="SOC44" property="SOC44" />
        <result column="Tem45" property="Tem45" />
        <result column="Vol45" property="Vol45" />
        <result column="SOC45" property="SOC45" />
        <result column="Tem46" property="Tem46" />
        <result column="Vol46" property="Vol46" />
        <result column="SOC46" property="SOC46" />
        <result column="Tem47" property="Tem47" />
        <result column="Vol47" property="Vol47" />
        <result column="SOC47" property="SOC47" />
        <result column="Tem48" property="Tem48" />
        <result column="Vol48" property="Vol48" />
        <result column="SOC48" property="SOC48" />
        <result column="Tem49" property="Tem49" />
        <result column="Vol49" property="Vol49" />
        <result column="SOC49" property="SOC49" />
        <result column="Tem50" property="Tem50" />
        <result column="Vol50" property="Vol50" />
        <result column="SOC50" property="SOC50" />
        <result column="Tem51" property="Tem51" />
        <result column="Vol51" property="Vol51" />
        <result column="SOC51" property="SOC51" />
        <result column="Tem52" property="Tem52" />
        <result column="Vol52" property="Vol52" />
        <result column="SOC52" property="SOC52" />
        <result column="Tem53" property="Tem53" />
        <result column="Vol53" property="Vol53" />
        <result column="SOC53" property="SOC53" />
        <result column="Tem54" property="Tem54" />
        <result column="Vol54" property="Vol54" />
        <result column="SOC54" property="SOC54" />
        <result column="Tem55" property="Tem55" />
        <result column="Vol55" property="Vol55" />
        <result column="SOC55" property="SOC55" />
        <result column="Tem56" property="Tem56" />
        <result column="Vol56" property="Vol56" />
        <result column="SOC56" property="SOC56" />
        <result column="Tem57" property="Tem57" />
        <result column="Vol57" property="Vol57" />
        <result column="SOC57" property="SOC57" />
        <result column="Tem58" property="Tem58" />
        <result column="Vol58" property="Vol58" />
        <result column="SOC58" property="SOC58" />
        <result column="Tem59" property="Tem59" />
        <result column="Vol59" property="Vol59" />
        <result column="SOC59" property="SOC59" />
        <result column="Tem60" property="Tem60" />
        <result column="Vol60" property="Vol60" />
        <result column="SOC60" property="SOC60" />
        <result column="Tem61" property="Tem61" />
        <result column="Vol61" property="Vol61" />
        <result column="SOC61" property="SOC61" />
        <result column="Tem62" property="Tem62" />
        <result column="Vol62" property="Vol62" />
        <result column="SOC62" property="SOC62" />
        <result column="Tem63" property="Tem63" />
        <result column="Vol63" property="Vol63" />
        <result column="SOC63" property="SOC63" />
        <result column="Tem64" property="Tem64" />
        <result column="Vol64" property="Vol64" />
        <result column="SOC64" property="SOC64" />
        <result column="Tem65" property="Tem65" />
        <result column="Vol65" property="Vol65" />
        <result column="SOC65" property="SOC65" />
        <result column="Tem66" property="Tem66" />
        <result column="Vol66" property="Vol66" />
        <result column="SOC66" property="SOC66" />
        <result column="Tem67" property="Tem67" />
        <result column="Vol67" property="Vol67" />
        <result column="SOC67" property="SOC67" />
        <result column="Tem68" property="Tem68" />
        <result column="Vol68" property="Vol68" />
        <result column="SOC68" property="SOC68" />
        <result column="Tem69" property="Tem69" />
        <result column="Vol69" property="Vol69" />
        <result column="SOC69" property="SOC69" />
        <result column="Tem70" property="Tem70" />
        <result column="Vol70" property="Vol70" />
        <result column="SOC70" property="SOC70" />
        <result column="Tem71" property="Tem71" />
        <result column="Vol71" property="Vol71" />
        <result column="SOC71" property="SOC71" />
        <result column="Tem72" property="Tem72" />
        <result column="Vol72" property="Vol72" />
        <result column="SOC72" property="SOC72" />
        <result column="Tem73" property="Tem73" />
        <result column="Vol73" property="Vol73" />
        <result column="SOC73" property="SOC73" />
        <result column="Tem74" property="Tem74" />
        <result column="Vol74" property="Vol74" />
        <result column="SOC74" property="SOC74" />
        <result column="Tem75" property="Tem75" />
        <result column="Vol75" property="Vol75" />
        <result column="SOC75" property="SOC75" />
        <result column="Tem76" property="Tem76" />
        <result column="Vol76" property="Vol76" />
        <result column="SOC76" property="SOC76" />
        <result column="Tem77" property="Tem77" />
        <result column="Vol77" property="Vol77" />
        <result column="SOC77" property="SOC77" />
        <result column="Tem78" property="Tem78" />
        <result column="Vol78" property="Vol78" />
        <result column="SOC78" property="SOC78" />
        <result column="Tem79" property="Tem79" />
        <result column="Vol79" property="Vol79" />
        <result column="SOC79" property="SOC79" />
        <result column="Tem80" property="Tem80" />
        <result column="Vol80" property="Vol80" />
        <result column="SOC80" property="SOC80" />
        <result column="Tem81" property="Tem81" />
        <result column="Vol81" property="Vol81" />
        <result column="SOC81" property="SOC81" />
        <result column="Tem82" property="Tem82" />
        <result column="Vol82" property="Vol82" />
        <result column="SOC82" property="SOC82" />
        <result column="Tem83" property="Tem83" />
        <result column="Vol83" property="Vol83" />
        <result column="SOC83" property="SOC83" />
        <result column="Tem84" property="Tem84" />
        <result column="Vol84" property="Vol84" />
        <result column="SOC84" property="SOC84" />
        <result column="Tem85" property="Tem85" />
        <result column="Vol85" property="Vol85" />
        <result column="SOC85" property="SOC85" />
        <result column="Tem86" property="Tem86" />
        <result column="Vol86" property="Vol86" />
        <result column="SOC86" property="SOC86" />
        <result column="Tem87" property="Tem87" />
        <result column="Vol87" property="Vol87" />
        <result column="SOC87" property="SOC87" />
        <result column="Tem88" property="Tem88" />
        <result column="Vol88" property="Vol88" />
        <result column="SOC88" property="SOC88" />
        <result column="Tem89" property="Tem89" />
        <result column="Vol89" property="Vol89" />
        <result column="SOC89" property="SOC89" />
        <result column="Tem90" property="Tem90" />
        <result column="Vol90" property="Vol90" />
        <result column="SOC90" property="SOC90" />
        <result column="Tem91" property="Tem91" />
        <result column="Vol91" property="Vol91" />
        <result column="SOC91" property="SOC91" />
        <result column="Tem92" property="Tem92" />
        <result column="Vol92" property="Vol92" />
        <result column="SOC92" property="SOC92" />
        <result column="Tem93" property="Tem93" />
        <result column="Vol93" property="Vol93" />
        <result column="SOC93" property="SOC93" />
        <result column="Tem94" property="Tem94" />
        <result column="Vol94" property="Vol94" />
        <result column="SOC94" property="SOC94" />
        <result column="Tem95" property="Tem95" />
        <result column="Vol95" property="Vol95" />
        <result column="SOC95" property="SOC95" />
        <result column="Tem96" property="Tem96" />
        <result column="Vol96" property="Vol96" />
        <result column="SOC96" property="SOC96" />
        <result column="Tem97" property="Tem97" />
        <result column="Vol97" property="Vol97" />
        <result column="SOC97" property="SOC97" />
        <result column="Tem98" property="Tem98" />
        <result column="Vol98" property="Vol98" />
        <result column="SOC98" property="SOC98" />
        <result column="Tem99" property="Tem99" />
        <result column="Vol99" property="Vol99" />
        <result column="SOC99" property="SOC99" />
        <result column="Tem100" property="Tem100" />
        <result column="Vol100" property="Vol100" />
        <result column="SOC100" property="SOC100" />
        <result column="Tem101" property="Tem101" />
        <result column="Vol101" property="Vol101" />
        <result column="SOC101" property="SOC101" />
        <result column="Tem102" property="Tem102" />
        <result column="Vol102" property="Vol102" />
        <result column="SOC102" property="SOC102" />
        <result column="Tem103" property="Tem103" />
        <result column="Vol103" property="Vol103" />
        <result column="SOC103" property="SOC103" />
        <result column="Tem104" property="Tem104" />
        <result column="Vol104" property="Vol104" />
        <result column="SOC104" property="SOC104" />
        <result column="Tem105" property="Tem105" />
        <result column="Vol105" property="Vol105" />
        <result column="SOC105" property="SOC105" />
        <result column="Tem106" property="Tem106" />
        <result column="Vol106" property="Vol106" />
        <result column="SOC106" property="SOC106" />
        <result column="Tem107" property="Tem107" />
        <result column="Vol107" property="Vol107" />
        <result column="SOC107" property="SOC107" />
        <result column="Tem108" property="Tem108" />
        <result column="Vol108" property="Vol108" />
        <result column="SOC108" property="SOC108" />
        <result column="Tem109" property="Tem109" />
        <result column="Vol109" property="Vol109" />
        <result column="SOC109" property="SOC109" />
        <result column="Tem110" property="Tem110" />
        <result column="Vol110" property="Vol110" />
        <result column="SOC110" property="SOC110" />
        <result column="Tem111" property="Tem111" />
        <result column="Vol111" property="Vol111" />
        <result column="SOC111" property="SOC111" />
        <result column="Tem112" property="Tem112" />
        <result column="Vol112" property="Vol112" />
        <result column="SOC112" property="SOC112" />
        <result column="Tem113" property="Tem113" />
        <result column="Vol113" property="Vol113" />
        <result column="SOC113" property="SOC113" />
        <result column="Tem114" property="Tem114" />
        <result column="Vol114" property="Vol114" />
        <result column="SOC114" property="SOC114" />
        <result column="Tem115" property="Tem115" />
        <result column="Vol115" property="Vol115" />
        <result column="SOC115" property="SOC115" />
        <result column="Tem116" property="Tem116" />
        <result column="Vol116" property="Vol116" />
        <result column="SOC116" property="SOC116" />
        <result column="Tem117" property="Tem117" />
        <result column="Vol117" property="Vol117" />
        <result column="SOC117" property="SOC117" />
        <result column="Tem118" property="Tem118" />
        <result column="Vol118" property="Vol118" />
        <result column="SOC118" property="SOC118" />
        <result column="Tem119" property="Tem119" />
        <result column="Vol119" property="Vol119" />
        <result column="SOC119" property="SOC119" />
        <result column="Tem120" property="Tem120" />
        <result column="Vol120" property="Vol120" />
        <result column="SOC120" property="SOC120" />
        <result column="Tem121" property="Tem121" />
        <result column="Vol121" property="Vol121" />
        <result column="SOC121" property="SOC121" />
        <result column="Tem122" property="Tem122" />
        <result column="Vol122" property="Vol122" />
        <result column="SOC122" property="SOC122" />
        <result column="Tem123" property="Tem123" />
        <result column="Vol123" property="Vol123" />
        <result column="SOC123" property="SOC123" />
        <result column="Tem124" property="Tem124" />
        <result column="Vol124" property="Vol124" />
        <result column="SOC124" property="SOC124" />
        <result column="Tem125" property="Tem125" />
        <result column="Vol125" property="Vol125" />
        <result column="SOC125" property="SOC125" />
        <result column="Tem126" property="Tem126" />
        <result column="Vol126" property="Vol126" />
        <result column="SOC126" property="SOC126" />
        <result column="Tem127" property="Tem127" />
        <result column="Vol127" property="Vol127" />
        <result column="SOC127" property="SOC127" />
        <result column="Tem128" property="Tem128" />
        <result column="Vol128" property="Vol128" />
        <result column="SOC128" property="SOC128" />
        <result column="Tem129" property="Tem129" />
        <result column="Vol129" property="Vol129" />
        <result column="SOC129" property="SOC129" />
        <result column="Tem130" property="Tem130" />
        <result column="Vol130" property="Vol130" />
        <result column="SOC130" property="SOC130" />
        <result column="Tem131" property="Tem131" />
        <result column="Vol131" property="Vol131" />
        <result column="SOC131" property="SOC131" />
        <result column="Tem132" property="Tem132" />
        <result column="Vol132" property="Vol132" />
        <result column="SOC132" property="SOC132" />
        <result column="Tem133" property="Tem133" />
        <result column="Vol133" property="Vol133" />
        <result column="SOC133" property="SOC133" />
        <result column="Tem134" property="Tem134" />
        <result column="Vol134" property="Vol134" />
        <result column="SOC134" property="SOC134" />
        <result column="Tem135" property="Tem135" />
        <result column="Vol135" property="Vol135" />
        <result column="SOC135" property="SOC135" />
        <result column="Tem136" property="Tem136" />
        <result column="Vol136" property="Vol136" />
        <result column="SOC136" property="SOC136" />
        <result column="Tem137" property="Tem137" />
        <result column="Vol137" property="Vol137" />
        <result column="SOC137" property="SOC137" />
        <result column="Tem138" property="Tem138" />
        <result column="Vol138" property="Vol138" />
        <result column="SOC138" property="SOC138" />
        <result column="Tem139" property="Tem139" />
        <result column="Vol139" property="Vol139" />
        <result column="SOC139" property="SOC139" />
        <result column="Tem140" property="Tem140" />
        <result column="Vol140" property="Vol140" />
        <result column="SOC140" property="SOC140" />
        <result column="Tem141" property="Tem141" />
        <result column="Vol141" property="Vol141" />
        <result column="SOC141" property="SOC141" />
        <result column="Tem142" property="Tem142" />
        <result column="Vol142" property="Vol142" />
        <result column="SOC142" property="SOC142" />
        <result column="Tem143" property="Tem143" />
        <result column="Vol143" property="Vol143" />
        <result column="SOC143" property="SOC143" />
        <result column="Tem144" property="Tem144" />
        <result column="Vol144" property="Vol144" />
        <result column="SOC144" property="SOC144" />
        <result column="Tem145" property="Tem145" />
        <result column="Vol145" property="Vol145" />
        <result column="SOC145" property="SOC145" />
        <result column="Tem146" property="Tem146" />
        <result column="Vol146" property="Vol146" />
        <result column="SOC146" property="SOC146" />
        <result column="Tem147" property="Tem147" />
        <result column="Vol147" property="Vol147" />
        <result column="SOC147" property="SOC147" />
        <result column="Tem148" property="Tem148" />
        <result column="Vol148" property="Vol148" />
        <result column="SOC148" property="SOC148" />
        <result column="Tem149" property="Tem149" />
        <result column="Vol149" property="Vol149" />
        <result column="SOC149" property="SOC149" />
        <result column="Tem150" property="Tem150" />
        <result column="Vol150" property="Vol150" />
        <result column="SOC150" property="SOC150" />
        <result column="Tem151" property="Tem151" />
        <result column="Vol151" property="Vol151" />
        <result column="SOC151" property="SOC151" />
        <result column="Tem152" property="Tem152" />
        <result column="Vol152" property="Vol152" />
        <result column="SOC152" property="SOC152" />
        <result column="Tem153" property="Tem153" />
        <result column="Vol153" property="Vol153" />
        <result column="SOC153" property="SOC153" />
        <result column="Tem154" property="Tem154" />
        <result column="Vol154" property="Vol154" />
        <result column="SOC154" property="SOC154" />
        <result column="Tem155" property="Tem155" />
        <result column="Vol155" property="Vol155" />
        <result column="SOC155" property="SOC155" />
        <result column="Tem156" property="Tem156" />
        <result column="Vol156" property="Vol156" />
        <result column="SOC156" property="SOC156" />
        <result column="Tem157" property="Tem157" />
        <result column="Vol157" property="Vol157" />
        <result column="SOC157" property="SOC157" />
        <result column="Tem158" property="Tem158" />
        <result column="Vol158" property="Vol158" />
        <result column="SOC158" property="SOC158" />
        <result column="Tem159" property="Tem159" />
        <result column="Vol159" property="Vol159" />
        <result column="SOC159" property="SOC159" />
        <result column="Tem160" property="Tem160" />
        <result column="Vol160" property="Vol160" />
        <result column="SOC160" property="SOC160" />
        <result column="Tem161" property="Tem161" />
        <result column="Vol161" property="Vol161" />
        <result column="SOC161" property="SOC161" />
        <result column="Tem162" property="Tem162" />
        <result column="Vol162" property="Vol162" />
        <result column="SOC162" property="SOC162" />
        <result column="Tem163" property="Tem163" />
        <result column="Vol163" property="Vol163" />
        <result column="SOC163" property="SOC163" />
        <result column="Tem164" property="Tem164" />
        <result column="Vol164" property="Vol164" />
        <result column="SOC164" property="SOC164" />
        <result column="Tem165" property="Tem165" />
        <result column="Vol165" property="Vol165" />
        <result column="SOC165" property="SOC165" />
        <result column="Tem166" property="Tem166" />
        <result column="Vol166" property="Vol166" />
        <result column="SOC166" property="SOC166" />
        <result column="Tem167" property="Tem167" />
        <result column="Vol167" property="Vol167" />
        <result column="SOC167" property="SOC167" />
        <result column="Tem168" property="Tem168" />
        <result column="Vol168" property="Vol168" />
        <result column="SOC168" property="SOC168" />
        <result column="Tem169" property="Tem169" />
        <result column="Vol169" property="Vol169" />
        <result column="SOC169" property="SOC169" />
        <result column="Tem170" property="Tem170" />
        <result column="Vol170" property="Vol170" />
        <result column="SOC170" property="SOC170" />
        <result column="Tem171" property="Tem171" />
        <result column="Vol171" property="Vol171" />
        <result column="SOC171" property="SOC171" />
        <result column="Tem172" property="Tem172" />
        <result column="Vol172" property="Vol172" />
        <result column="SOC172" property="SOC172" />
        <result column="Tem173" property="Tem173" />
        <result column="Vol173" property="Vol173" />
        <result column="SOC173" property="SOC173" />
        <result column="Tem174" property="Tem174" />
        <result column="Vol174" property="Vol174" />
        <result column="SOC174" property="SOC174" />
        <result column="Tem175" property="Tem175" />
        <result column="Vol175" property="Vol175" />
        <result column="SOC175" property="SOC175" />
        <result column="Tem176" property="Tem176" />
        <result column="Vol176" property="Vol176" />
        <result column="SOC176" property="SOC176" />
        <result column="Tem177" property="Tem177" />
        <result column="Vol177" property="Vol177" />
        <result column="SOC177" property="SOC177" />
        <result column="Tem178" property="Tem178" />
        <result column="Vol178" property="Vol178" />
        <result column="SOC178" property="SOC178" />
        <result column="Tem179" property="Tem179" />
        <result column="Vol179" property="Vol179" />
        <result column="SOC179" property="SOC179" />
        <result column="Tem180" property="Tem180" />
        <result column="Vol180" property="Vol180" />
        <result column="SOC180" property="SOC180" />
        <result column="Tem181" property="Tem181" />
        <result column="Vol181" property="Vol181" />
        <result column="SOC181" property="SOC181" />
        <result column="Tem182" property="Tem182" />
        <result column="Vol182" property="Vol182" />
        <result column="SOC182" property="SOC182" />
        <result column="Tem183" property="Tem183" />
        <result column="Vol183" property="Vol183" />
        <result column="SOC183" property="SOC183" />
        <result column="Tem184" property="Tem184" />
        <result column="Vol184" property="Vol184" />
        <result column="SOC184" property="SOC184" />
        <result column="Tem185" property="Tem185" />
        <result column="Vol185" property="Vol185" />
        <result column="SOC185" property="SOC185" />
        <result column="Tem186" property="Tem186" />
        <result column="Vol186" property="Vol186" />
        <result column="SOC186" property="SOC186" />
        <result column="Tem187" property="Tem187" />
        <result column="Vol187" property="Vol187" />
        <result column="SOC187" property="SOC187" />
        <result column="Tem188" property="Tem188" />
        <result column="Vol188" property="Vol188" />
        <result column="SOC188" property="SOC188" />
        <result column="Tem189" property="Tem189" />
        <result column="Vol189" property="Vol189" />
        <result column="SOC189" property="SOC189" />
        <result column="Tem190" property="Tem190" />
        <result column="Vol190" property="Vol190" />
        <result column="SOC190" property="SOC190" />
        <result column="Tem191" property="Tem191" />
        <result column="Vol191" property="Vol191" />
        <result column="SOC191" property="SOC191" />
    </resultMap>

    <select id="getGroupBatteryByContrallerID" parameterType="int"
            resultType="com.example.battery.core.entity.GroupBattery">
        select *
        from
            GroupBattery as G
        where
            G.ContrallerID = #{ContrallerID}
    </select>

</mapper>
