<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.battery.core.mapper.OperatorsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.battery.core.entity.Operators">
        <id column="ID" property="ID" />
        <result column="OpName" property="OpName" />
        <result column="LoginName" property="LoginName" />
        <result column="OpPassword" property="OpPassword" />
        <result column="CustomerID" property="CustomerID" />
        <result column="Level" property="Level" />
        <result column="WXID" property="WXID" />
    </resultMap>

    <select id="getOperatorByWXID" parameterType="String"
            resultType="com.example.battery.core.entity.Operators">
        select *
        from
            Operators as O
        where
            O.WXID = #{WXID}
    </select>

</mapper>
