<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.battery.core.mapper.XZQHDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.battery.core.entity.XZQH">
        <id column="ID" property="ID" />
        <result column="QHDM" property="QHDM" />
        <result column="Name" property="Name" />
        <result column="ZXS" property="ZXS" />
        <result column="JGLR" property="JGLR" />
    </resultMap>

</mapper>
